@page
@model SUB.Areas.Events.Pages.ListModel

@{
    ViewData["Title"] = "Lista wydarzeń";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<p class="subsite-header"><img src="~/img/events.png" />Wydarzenia sportowe <hr /> </p>
<p>
    <a asp-page="Create">Utwórz nowe wydarzenie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th colspan="2">
                Strony wydarzenia
            </th>
            <th colspan="3">
                Kursy
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wydarzenie[0].Gospodarz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wydarzenie[0].Gosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wydarzenie[0].ZwyciestwoGospodarz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wydarzenie[0].ZwyciestwoGosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wydarzenie[0].Remis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wydarzenie[0].Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wydarzenie[0].WynikWydarzenia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Wydarzenie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gospodarz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZwyciestwoGospodarz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZwyciestwoGosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            @{
                switch (item.WynikWydarzenia)
                {
                    case 0:
                        <td>
                            Wygrana gospodarzy
                        </td>
                        break;
                    case 1:
                        <td>
                            Wygrana gości
                        </td>
                        break;
                    case 2:
                        <td>
                            Remis
                        </td>
                        break;
                    default:
                        <td>
                            -
                        </td>
                        break;
                }
            }
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id"><img src="~/img/edit.png" class="list-img"></a> |
                <a asp-page="./Details" asp-route-id="@item.Id"><img src="~/img/details.png" class="list-img" /></a> |
                <a asp-page="./Delete" asp-route-id="@item.Id"><img src="~/img/delete.png" class="list-img" /></a>
                <a asp-page="/Coupons/Create" asp-route-id="@item.Id">Obstaw</a>
            </td>
        </tr>
}
    </tbody>
</table>
