@page
@model SUB.Pages.Coupons.DeleteModel

@{
    ViewData["Title"] = "Kupony - usuń kupon";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<p class="subsite-header"><img src="~/img/coupons.png" />Kupony <hr /> </p>
<h2>Usuń kupon</h2>
<h4>Czy napewno chcesz usunąć ten kupon?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kupon.Uzytkownik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kupon.Uzytkownik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kupon.Wydarzenie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kupon.Wydarzenie.SkrotWydarzenia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kupon.Srodki)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kupon.Srodki) PLN
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kupon.ObstawionyKurs)
        </dt>
        @{
            switch (Model.Kupon.ObstawionyKurs)
            {
                case 0:
                    <dd class="col-sm-10">
                        Wygrana gospodarzy
                    </dd>
                    <dt class="col-sm-2">Kurs</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Kupon.Wydarzenie.ZwyciestwoGospodarz)
                    </dd>
                    <dt class="col-sm-2">Potencjalna wygrana</dt>
                    <dd class="col-sm-10">
                        @(Model.Kupon.Wydarzenie.ZwyciestwoGospodarz*Model.Kupon.Srodki) PLN
                    </dd>
                    break;
                case 1:
                    <dd class="col-sm-10">
                        Wygrana gości
                    </dd>
                    <dt class="col-sm-2">Kurs</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Kupon.Wydarzenie.ZwyciestwoGosc)
                    </dd>
                    <dt class="col-sm-2">Potencjalna wygrana</dt>
                    <dd class="col-sm-10">
                        @(Model.Kupon.Wydarzenie.ZwyciestwoGosc*Model.Kupon.Srodki) PLN
                    </dd>
                    break;
                case 2:
                    <dd class="col-sm-10">
                        Remis
                    </dd>
                    <dt class="col-sm-2">Kurs</dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Kupon.Wydarzenie.Remis)
                    </dd>
                    <dt class="col-sm-2">Potencjalna wygrana</dt>
                    <dd class="col-sm-10">
                        @(Model.Kupon.Wydarzenie.Remis*Model.Kupon.Srodki) PLN
                    </dd>
                    break;
            }
        }
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Kupon.Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-page="./List">Powrót do listy</a>
    </form>
</div>
