@page
@model SUB.Pages.Coupons.ListModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Kupony - lista kuponów";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    bool isBO = false;
    if (User.IsInRole("BookmakerObserver")) isBO = true;
}

<p class="subsite-header"><img src="~/img/coupons.png" />Kupony <hr /> </p>
@if (isBO)
{
    <h2>Lista kuponów</h2>
}
else
{
    <h2>Twoje kupony</h2>
}
<p>
    <a asp-page="Create">Utwórz nowy kupon</a>
</p>
<form asp-page="./List" method="get">
    <table style="margin-bottom: 20px;">
        <tr>
            <td class="search-table">
                <input type="text" name="SearchString" value="@Model.CurrentFilter" asp-for="@Model.CurrentFilter" />
            </td>
            <td class="search-table">
                <input type="submit" value="Szukaj" class="btn btn-primary" /> |
                <a asp-page="./List">Usuń filtry</a>
            </td>
        </tr>
    </table>
</form>
<table class="table">
    <thead>
        <tr>
            @if (isBO)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Kupon[0].Uzytkownik)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Kupon[0].Wydarzenie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kupon[0].Srodki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kupon[0].ObstawionyKurs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Kupon)
        {
            string style;
            string obstawionyKurs = "";
            if (item.ObstawionyKurs == item.Wydarzenie.WynikWydarzenia) { style = "background-color: rgb(196, 242, 208)"; }
            else if (item.Wydarzenie.WynikWydarzenia != null) { style = "background-color: rgb(242, 202, 196)"; }
            else { style = "background-color: none"; }

            switch (item.ObstawionyKurs)
            {
                case 0:
                    obstawionyKurs = "Wygrana gospodarzy";
                    break;
                case 1:
                    obstawionyKurs = "Wygrana gości";
                    break;
                case 2:
                    obstawionyKurs = "Remis";
                    break;
            }

            <tr style="@style">
                @if (isBO)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Uzytkownik.UserName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Wydarzenie.SkrotWydarzenia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Srodki) PLN
                </td>
                <td>
                    @obstawionyKurs
                </td>
                <td>
                    @if (item.Wydarzenie.Data > DateTime.Now)
                    {
                        <p style="margin: 0;">
                            <a asp-page="./Details" asp-route-id="@item.Id"><img src="~/img/details.png" class="list-img" /></a> |
                            <a asp-page="./Edit" asp-route-id="@item.Id"><img src="~/img/edit.png" class="list-img"></a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id"><img src="~/img/delete.png" class="list-img" /></a>
                        </p>
                    }
                    else
                    {
                        <a asp-page="./Details" asp-route-id="@item.Id"><img src="~/img/details.png" class="list-img" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Kupon.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Kupon.HasNextPage ? "disabled" : "";
}

<a asp-page="./List"
   asp-route-pageIndex="@(Model.Kupon.PageIndex - 1)"
   class="btn btn-primary @prevDisabled"> <<
</a>
<a asp-page="./List"
   asp-route-pageIndex="@(Model.Kupon.PageIndex + 1)"
   class="btn btn-primary @nextDisabled"> >>
</a>