@page
@model SUB.Pages.Contact.DeleteModel

@{
    ViewData["Title"] = "Kontakt - usuwanie zgłoszenia";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Usuwanie zgłoszenia</h1>

<h3>Czy jesteś pewien, że chcesz usunąć te zgłoszenie?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zgloszenie.Uzytkownik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zgloszenie.Uzytkownik.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zgloszenie.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zgloszenie.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zgloszenie.Tresc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zgloszenie.Tresc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zgloszenie.Kategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zgloszenie.Kategoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zgloszenie.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zgloszenie.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Zgloszenie.Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-page="./List">Powrót do listy</a>
    </form>
</div>
